<html>

  <head>
    <script data-require="vue.js@*" data-semver="10.0.26" src="https://cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="card">
      <header>{{ title }}</header>
      <div v-html="content"></div>
    </div>
    
    <script src="script.js"></script>
  </body>
</html>
